*{
    font-family: Georgia, serif;
    font-style: italic;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 175%;
    margin: auto;
}
section{
    padding: 15px;
    border:  4px solid black;
    float: left;
    background-color: dimgray;
    width: 300px;
    margin: 30px;
}
h2{
    float:right;
}
p{
    clear: right;
}
