*{
    font-family: Georgia, serif;
    font-style: italic;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 175%;
    margin: auto;
}
section{
    padding: 15px;
    border: 10px black;
    float: left;
    background-color: dimgray;
    width: 25%;
    margin: 20px;
}
