*{
    font-family: Georgia, serif;
    font-style: italic;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 175%;
    margin-top: 20px;
}
section{
    padding: 15px;
    border:  4px solid black;
    float: left;
    background-color: lightgray;
    width: 30%;
    margin: 20px;
}
h2{
    float:right;
    border: solid black 4px;
}
#first-h{
    background-color: crimson;
    color: gainsboro;
}
#sec-h{
    background-color: darkorange;
    color: black;
}
#third-h{
    background-color: darkturquoise;
    color: black;
}
p{
    clear: right;
}
